{% extends 'cards/base.html' %}

{% block content %}
<h2>Все уроки</h2>
<a href="{% url 'add_lesson' %}" class="btn btn-success mb-3">Создать урок</a>

<div class="row">
    {% for lesson in lessons %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ lesson.title }}</h5>
                <p class="card-text">{{ lesson.description|truncatechars:100 }}</p>
                <a href="#" class="btn btn-primary">Карточки урока ({{ lesson.cards.count }})</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}